<h3>Detalle del Heroe</h3>

<div class="d-grid gap-2">   
    <button type="button" class="btn btn-primary" (click)="snapshot()"> 
      Obtener Instantanea Actual 
    </button>
    <button type="button" class="btn btn-primary" (click)="title()"> 
      Obtener Titulo 
    </button>
    <button type="button" class="btn btn-primary" (click)="url()"> 
      Obtener Segmentos de la Url
    </button>
    <button type="button" class="btn btn-primary" (click)="params()"> 
      Obtener Parametros 
    </button>
    <button type="button" class="btn btn-primary" (click)="queryParams()"> 
      Obtener Parametros de Consulta
    </button>
    <button type="button" class="btn btn-primary" (click)="fragment()"> 
      Obtener Fragmento
    </button>
    <button type="button" class="btn btn-primary" (click)="data()"> 
      Obtener Datos Estaticos
    </button>
    <button type="button" class="btn btn-primary" (click)="outlet()"> 
      Obtener el Nombre de la Salida
    </button>
    <button type="button" class="btn btn-primary" (click)="component()"> 
      Obtener el Componente
    </button>
    <button type="button" class="btn btn-primary" (click)="routeConfig()"> 
      Obtener la Configuracion de la Ruta
    </button>
    <button type="button" class="btn btn-primary" (click)="root()"> 
      Obtener la Raiz
    </button>
    <button type="button" class="btn btn-primary" (click)="parent()"> 
      Obtener el Padre
    </button>
    <button type="button" class="btn btn-primary" (click)="firstChild()"> 
      Obtener el Primer Hijo
    </button>
    <button type="button" class="btn btn-primary" (click)="children()"> 
      Obtener los Hijos
    </button>
    <button type="button" class="btn btn-primary" (click)="pathFromRoot()"> 
      Obtener la Ruta Desde la Raiz
    </button>
    <button type="button" class="btn btn-primary" (click)="paramMap()"> 
      Obtener Parametros Map
    </button>
    <button type="button" class="btn btn-primary" (click)="queryParamMap()"> 
      Obtener Parametros Map de Ruta 
    </button>
    <button type="button" class="btn btn-primary" (click)="toString()"> 
      Obtener la Ruta Como Cadena
    </button>
</div>
